---
---

@import "minima";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.site-title {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    font-size: 50px;
}

.site-header {
    padding-top: 20px;
}

.post-list-heading {  
    font-weight: 800;
}

.page-link {
    font-family: 'Merriweather', serif;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
    font-family: 'Merriweather', serif;
}

.post-content h1 {
    font-weight: 600;
    font-size: 20px;
}

.post-list h1 {
    font-size: 20px;
}

.footer-heading {
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}

.post-content p {
    font-size: 17px;
}

.post-content em {
    font-size: 15px;
}

.post-content strong {
    font-weight: 900;
    font-size: 19px;
    font-style: italic;
}

.footnotes p{
    font-size: 15px;
}

.site-header {
    border-top: 10px solid #08ec98;
    border-bottom: none;
}

.site-footer {
    border-top: none;
}

a { color: #0e9664; text-decoration: none; }
a:visited { color: #0e9664; }

@media screen and (max-width: 800px) {
    .post-list-heading { 
        font-size: 24px; 
        font-weight: 800;
    }

    .post-content p {
        font-size: 16px;
    }

    .footnotes p{
        font-size: 12px;
    }

    .site-nav {
        vertical-align: center;
    }
}